.DS_Store
*.versionsBackup

### Services ###
target
.service

### UI ###
.vscode
target/
node_modules/
npm-debug.log
ui/coverage/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
