.DS_Store
*.versionsBackup
database-migration.sql

### Services ###
target
# current bug: tests create log files here :(
service/logs/
.service

### UI ###
.vscode
target/
node_modules/
npm-debug.log
ui/coverage/
service/logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
