.page {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #33333382;
  font-weight: lighter;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
      position: relative;
    }
  }
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 40px;

    &__logo img {
      display: inline-block;
      width: auto;
      height: 26px;
      padding: 0 20px 0 10px;
    }

    &__title {
      display: inline-block;
      font-size: 28px;
      color: #0B3D5F;
      font-weight: bolder;
      margin: 0 0 6px;
    }
  }

  .error {
    display: block;
    background-color: firebrick;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 1em;
  }

  .border {
    flex-direction: column;
    align-items: center;
    padding: 0.25%;
    width: 57%;
    border-width: 1px;
    border-style: outset;
    -webkit-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
    -moz-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
    box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);

    .container {

      &__title {
        display: block;
        text-align: center;
        color: #333333f0;
        font-size: 32px;
        justify-content: center;
        align-items: center;
      }

      &__subtitle {
        display: block;
        line-height: 40px;
        font-size: 23px;
        font-weight: 400;
        margin: 0 7px 7px 7px;
        padding-top: 23px;
        width: 96%;
      }

      &__text {
        display: block;
        text-align: justify;
        line-height: 40px;
        font-size: 23px;
        font-weight: 300;
        margin: 0 7px 7px 7px;
        width: 96%;

      }
    }

    .inputfields {
      display: flex;
      background-color: #f2f8fd;
      justify-content: space-around;

      &__input {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 40%;

        .ng-invalid:not(form)  {
          border: 2px solid #a94442; /* red */
        }

        label {
          display: inline-block;
          font-size: 18px;
          font-weight: 300;
          padding: 2px;
        }
        input {
          display: inline-block;
          justify-content: center;
          font-size: 23px;
          font-weight: 300;
        }

        .checkbox {
          list-style-type: none;
        }
      }
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
      margin: 0.5% 0 0 0.5%;

      button {
        display: inline-block;
        width: 40%;
        font-size: 22px;
        padding: 8px;
        border-radius: 1px;
        background-color: #0E6EB4;
        color: white;
      }
      & .disabled {
        background-color: lightgrey;
      }
    }
  }
}
