<div class="page">
  <div class="page-inner">
    <div class="border">
      <div class="container">
        <h1 class="container__title">QWAC-Generator</h1>
        <h2 class="container__subtitle">Description</h2>
        <div class="container__text">
          Generates a QWAC Certificate. To validate the identity of the PSP the TSP needs specific attributes from the
          PSP. The NCA provides this PSD2 specific attributes in a public register.
          Besides the NCAID, NCAName and authorization number (PSP identifier) and the Roles of PSP, the TSP requires
          additional data from the PSP.
        </div>
      </div>


      <div class="inputfields">
        <div class="inputfields__input">
          <label>
            Roles of PSP
          </label>
          <ul class="checkbox">
            <li *ngFor="let pspRole of pspRolesKeys">
              <label>
                <input name="{{pspRole}}" type="checkbox" (change)="onSelectPspRole(pspRole)"
                       [checked]="isPspRoleSelected(pspRole)">
                {{pspRole}}
              </label>
            </li>
          </ul>
        </div>
        <div class="inputfields__input">
          <label>
            Authorizatrion Number
          </label>
          <input type="text" required [(ngModel)]="certData.authorizationNumber">
        </div>
      </div>

      <div class="inputfields">
        <div class="inputfields__input">
          <label>
            Country
          </label>
          <input type="text" [(ngModel)]="certData.countryName">
        </div>
        <div class="inputfields__input">
          <label>
            State
          </label>
          <input type="text" [(ngModel)]="certData.stateOrProvinceName">
        </div>
      </div>

      <div class="inputfields">
        <div class="inputfields__input">
          <label>
            City
          </label>
          <input type="text" [(ngModel)]="certData.localityName">
        </div>
        <div class="inputfields__input">
          <label>
            Domain
          </label>
          <input type="text" [(ngModel)]="certData.domainComponent">
        </div>
      </div>

      <div class="inputfields">
        <div class="inputfields__input">
          <label>
            Organization Name
          </label>
          <input type="text" required [(ngModel)]="certData.organizationName">
        </div>
        <div class="inputfields__input">
          <label>
            Organization Unit
          </label>
          <input type="text" [(ngModel)]="certData.organizationUnit">
        </div>
      </div>

      <div class="inputfields">
        <div class="inputfields__input">
          <label>
            Validity
          </label>
          <input type="text" [(ngModel)]="certData.validity">
        </div>
      </div>

      <div class="buttons">
        <button (click)=onClickCancel() type="button" name="decision" value="revoked"
                class="buttons btn--cancel">
          Cancel
        </button>
        <button (click)=onClickContinue() type="button" name="decision" value="confirmed"
                class="buttons btn--continue">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
