<div class="page">
  <div class="page-inner">
    <div class="border">
      <div class="container">
        <h1 class="container__title">Certificate Service</h1>
        <p class="container__subtitle">Welcome to the website of the Sample Trust Service Provider.</p>
        <div class="container__text">
          We issue Qualified Website Authentication Certificates (QWAC) to Payment Service Providers (PSP) in order to use services offered at the Access-to-Account (XS2A) interface of the adorsys Sandbox Environment.
          <br>
          Usually each PSP has to be registered at the National Competent Authority (NCA) to receive an Authorisation Number. We allow you to skip this step and define a fake Authorisation Number yourself.
          <br>
          Performing the Certificate Service will generate a shared cryptographic key pair signed by the adorsys Sample Trust Service Provider. The Public Key which is also referred to a QWAC must be used for authentication purposes at XS2A.
        </div>
      </div>
      <form #certForm="ngForm" (ngSubmit)="onClickContinue()">
        <div class="inputfields">
          <div class="inputfields__input">
            <label>
              Roles of PSP*
            </label>
            <ul class="checkbox">
              <li *ngFor="let pspRole of pspRolesKeys">
                <label>
                  <input name="{{pspRole}}" type="checkbox" (change)="onSelectPspRole(pspRole)"
                         [checked]="isPspRoleSelected(pspRole)">
                  {{pspRole}}
                </label>
              </li>
            </ul>
          </div>
          <div class="inputfields__input">
            <label>
              Authorization Number*
            </label>
            <input type="text" name="authorizationNumber" class="form-control" required [(ngModel)]="certData.authorizationNumber">
          </div>
        </div>

        <div class="inputfields">
          <div class="inputfields__input">
            <label>
              Country
            </label>
            <input type="text" name="countryName" class="form-control" [(ngModel)]="certData.countryName">
          </div>
          <div class="inputfields__input">
            <label>
              State
            </label>
            <input type="text" name="stateOrProvinceName" class="form-control" [(ngModel)]="certData.stateOrProvinceName">
          </div>
        </div>

        <div class="inputfields">
          <div class="inputfields__input">
            <label>
              City
            </label>
            <input type="text" name="localityName" class="form-control" [(ngModel)]="certData.localityName">
          </div>
          <div class="inputfields__input">
            <label>
              Domain
            </label>
            <input type="text" name="domainComponent" class="form-control" [(ngModel)]="certData.domainComponent">
          </div>
        </div>

        <div class="inputfields">
          <div class="inputfields__input">
            <label>
              Organization Name*
            </label>
            <input type="text" name="organizationName" class="form-control" required [(ngModel)]="certData.organizationName">
          </div>
          <div class="inputfields__input">
            <label>
              Organization Unit
            </label>
            <input type="text" name="organizationUnit" class="form-control" [(ngModel)]="certData.organizationUnit">
          </div>
        </div>

        <div class="inputfields">
          <div class="inputfields__input">
            <label>
              Validity
            </label>
            <input type="text" name="validity" class="form-control" [(ngModel)]="certData.validity">
          </div>
        </div>

        <div class="error" *ngIf="error">
          <ul>
            <li *ngFor="let error of error.error.errors">
              {{error.field}}: {{error.defaultMessage}}
            </li>
          </ul>
        </div>

        <div class="button-container">
          <button type="submit" [disabled]="certForm.invalid">
            Confirm
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
