<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="header container-fluid">
    <a class="navbar-brand" href="#"></a>
    <span class="header__logo">
      <img [src]="config.logoUrl" alt="adorsys logo" />
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/developer-portal"
            >Developer Portal <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="config.certPageEnabled"
        >
          <a class="nav-link" routerLink="/certificate-service"
            >Certificate Service</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/faqs">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="config.contactMailto">Contact</a>
        </li>

        <li>
          <sb-language-switch
            [language]="language$ | async"
            (languageChange)="updateLanguage($event)"
          ></sb-language-switch>
        </li>
      </ul>
    </div>
  </div>
</nav>
