// TODO: Use just needed bootstrap modules. Not the whole package.
@import "~bootstrap-scss";
$grey: #606060;
$dark-grey: #484848;
$light-grey: #e6e6e6;
$adorsys-blue: #054f72;

.page {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $grey;
  margin-bottom: 2em;

  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 40px 60px 10px;
    position: relative;

    &__logo img {
      display: inline-block;
      width: auto;
      height: 26px;
      padding: 0 20px 0 10px;
    }

    &__title {
      display: inline-block;
      font-size: 28px;
      color: $adorsys-blue;
      font-weight: 500;
      margin: 0 0 6px;
    }
  }

  .container {
    p {
      display: block;
      text-align: justify;
      font-size: 20px;
      margin-bottom: 2%;
      font-weight: 200;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 3%;
      margin-top: 3%;
    }

    section {
      margin-top: 3%;
      border-top: 0.5px solid $light-grey;
    }

    &--big {
      width: 57%;
      border-width: 1px;
      border-style: outset;
      -webkit-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      -moz-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      padding-bottom: 1%;


      .description {

        &__title {
          display: block;
          text-align: center;
          color: $dark-grey;
          font-size: 32px;
          justify-content: center;
          align-items: center;
          padding: 2%;
        }

        &__intro {
          display: block;
          font-size: 20px;
          font-weight: 400;
          padding-top: 23px;
          margin: 0;
        }

        &__text {
          display: block;
          text-align: justify;
          font-size: 20px;
          padding-bottom: 3%;
          font-weight: 200;
        }
      }
    }

    .ng-invalid {
      @extend .is-invalid;
    }
  }
}
