// TODO: Use just needed bootstrap modules. Not the whole package.
@import "~bootstrap-scss";

.page {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #606060;
  margin-bottom: 2em;

  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 40px 60px 10px;
    position: relative;

    &__logo img {
      display: inline-block;
      width: auto;
      height: 26px;
      padding: 0 20px 0 10px;
    }

    &__title {
      display: inline-block;
      font-size: 28px;
      color: #0B3D5F;
      font-weight: bolder;
      margin: 0 0 6px;
    }
  }

  .container {

    &--big {
      width: 57%;
      border-width: 1px;
      border-style: outset;
      -webkit-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      -moz-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      padding-bottom: 1%;

      .description {

        &__title {
          display: block;
          text-align: center;
          color: #333333f0;
          font-size: 32px;
          justify-content: center;
          align-items: center;
          padding: 2%;
        }

        &__intro {
          display: block;
          font-size: 20px;
          font-weight: 400;
          padding-top: 23px;
          margin: 0;
        }

        &__text {
          display: block;
          text-align: justify;
          font-size: 20px;
          padding-bottom: 3%;
          font-weight: 200;
        }
      }
    }

    .ng-invalid {
      @extend .is-invalid;
    }
  }
}
