// TODO: Use just needed bootstrap modules. Not the whole package.
@import '~bootstrap-scss';

$grey: #606060;
$dark-grey: #484848;
$light-grey: #e6e6e6;
$adorsys-blue: #054f72;

.page {
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  color: $grey;

  .navbar {
    margin-bottom: 2.5%;

    .header {
      margin-right: 7%;

      &__logo img {
        width: auto;
        height: 26px;
        padding: 0 20px 0 10px;
      }
    }
  }

  .container {
    margin-bottom: 10%;
    p {
      display: block;
      text-align: justify;
      font-size: 20px;
      margin-bottom: 2%;
      font-weight: 200;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 3%;
      margin-top: 3%;
    }

    section {
      margin-top: 3%;
      border-top: 0.5px solid $light-grey;

      .image-spacing {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    &--big {
      width: 57%;
      border-width: 1px;
      border-style: outset;
      -webkit-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      -moz-box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      box-shadow: 10px 10px 10px -8px rgba(143, 140, 143, 1);
      padding-bottom: 1%;

      .description {
        &__title {
          display: block;
          text-align: center;
          color: $dark-grey;
          font-size: 32px;
          justify-content: center;
          align-items: center;
          padding: 2%;
        }

        &__text {
          display: block;
          text-align: justify;
          font-size: 20px;
          padding-bottom: 3%;
          font-weight: 200;
        }
      }
    }

    .ng-invalid {
      @extend .is-invalid;
    }
  }
}
